* {
    margin: 10px;
}

.exempleSudoku{
    margin: auto;
    text-align: center;
    margin: 15px;
}

.exempleSudoku p{
    padding: 10px;
    font-weight: bold;
}


.selecDif{
    margin: auto;
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}


#taulaSudoku{
    margin: auto;
    border: 4px solid black;
    margin-top: 0px;
    font-size: 23px;

}

tbody{
    animation: fadeIn 1s;
}

td{
    background-color: black;
}

tr:nth-of-type(3),tr:nth-of-type(6){
    border-bottom: 2.5px solid black;
    
}

td:nth-of-type(3),td:nth-of-type(6){
    border-right: 2.5px solid black;
    
}

.celda{
    width: 50px;
    height: 50px;
    margin: 0px;
    text-align: center;
    border: 1px solid black;
    background-color: whitesmoke;
}

.celda:focus{
    outline: none;
    background-color:rgb(76, 228, 255);
    animation: Naranja 0.9s;
    animation-iteration-count: infinite;
    
}

.dropdown-menu {
    border: none;
}

.dropdown-menu button {
    margin-left: -17px;
    animation: fadeIn 0.5s;
}

.celdaCorrecta {
    background-color:white;
    font-weight: bold;
    color:black;
    width: 50px;
    height: 50px;
    margin: 0px;
    text-align: center;
    border: 1px solid black;
} 

.numeros{
    margin-top: 20px;
    text-align: center;
    display: inline-block;
    margin-left: 41.5%; 
}

.errors{
    float: right;
    font-weight: bold;
}

.numeros button{
    margin-left: 10px;
}

.top {
    margin: auto;
    margin-top: 25px;
    width: 480px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.dificultat{
    padding-top: 10px;
    margin-left: 0px;
    text-align: left;
    animation: fadeIn 1s;
}

.cronometre {
    margin-top: 5px;
    margin-right: -10px;
    font-size: 30px;
    font-weight: 600;
    text-align: right;
    float: right;
    animation: fadeIn 1s;
}

@keyframes Naranja {
    from {background-color: #caf2fa;}
    to {background-color: #ffc982;}
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

@keyframes fadeInCeldaIncorrecta {
    from {background-color: white}
    to {background-color: #ff9d96;}
}

